<%= form_with(model: magic_deck) do |form| %>
  <% if magic_deck.errors.any? %>
    <div style="color: red">
      <h3><%= pluralize(magic_deck.errors.count, "error") %> prohibited this magic_deck from being saved:</h3>

      <ul>
        <% magic_deck.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <h2>Input</h2>
  <div>
    <%= form.text_area :cards, rows: '20', style:'width: 100%;', id: :deck%>
    <%= form.hidden_field :probabilities %>
  </div>

  <div class="column">
    <%= form.label :turns, t(:turns), class: :label %>
    <%= form.number_field :turns, max: 20, min: 1%>
    <%= form.label :simulations, t(:simulations), class: :label %>
    <%= form.number_field :simulations, max: 1000, min: 1 %>
  </div>

  <%= form.submit t(:simulate), class: :simulate %>

  <h3><%= simple_format(t(:propability_play_if_draw)) %></h3>
  <% if @played_over_drawed %>
    <div class="chart">
      <%= bar_chart @played_over_drawed %>
    </div>
  <% end %>
  <h3><%= simple_format(t(:propability_playability_if_draw)) %></h3>
  <% if @can_played_over_drawed %>
    <div class="chart">
      <%= bar_chart @can_played_over_drawed %>
    </div>
  <% end %>
  <h3><%= simple_format(t(:propability_play)) %></h3>
  <% if @played_over_sims %>
    <div class="chart">
      <%= bar_chart @played_over_sims %>
    </div>
  <% end %>
  <h3><%= simple_format(t(:mana_curve)) %></h3>
  <% if @mana_curves %>
    <div class="chart">
      <%= column_chart @mana_curves, stacked: true %>
    </div>
  <% end %>
  <h3><%= simple_format(t(:effective_curves)) %></h3>
  <% if @effective_curves %>
    <div class="chart">
      <%= line_chart @effective_curves %>
    </div>
  <% end %>

<% end %>
