<form>
  <h2 id="nav_usage"><%= t 'nav.usage' %></h2>
  <div class="right"><%= link_to :top, '#input' %></div>
  <h3><%= t 'operation' %></h3>
  <ul>
    <li><%= t 'usage.1' %></li>
    <%= image_tag 'mtgadeck.png' %>
    <li><%= t 'usage.2' %></li>
    <%= image_tag 'input.png' %>
  </ul>

  <h3><%= t 'about' %></h3>
  <p><%= t 'about_contet' %></p>

  <h3><%= t 'about_simulation' %></h3>
  <p><%= t 'about_simulation_content' %></p>

  <h3><%= t 'how_to_see' %></h3>
  <h4><%= t 'propability_play' %></h4>
  <p><%= t 'propability_play_discription' %></p>

  <h4><%= t 'propability_play_if_draw' %></h4>
  <p><%= t 'propability_play_if_draw_discription' %></p>

  <h4><%= t 'propability_playability_if_draw' %></h4>
  <p><%= t 'propability_playability_if_draw_discription' %></p>

  <h4><%= t 'mana_curve' %></h4>
  <p><%= t 'mana_curve_discription' %></p>
</form>
